/* panel.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #B0C4DE;
  color: #333;
}

h1 {
  text-align: center;
  margin: 10px;
  color: #000
}

.top-bar {
  background-color: #4682B4
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Style the hamburger icon */
.menuButton {
    display: block;
    width: 30px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    top: 20px;
    left: 15px;
    cursor: pointer;
}

/* Create the three lines of the hamburger icon */
.menuButton .line-1,
.menuButton .line-2,
.menuButton .line-3 {
    display: block;
    width: 100%;
    height: 3px; /* Adjust thickness */
    background-color: #333; /* Adjust color */
    position: absolute;
    transition: transform 0.4s ease; /* Add smooth animation */
}

/* Position the lines to form the hamburger shape */
.menuButton .line-1 {
    top: 0;
}

.menuButton .line-2 {
    top: 50%;
    transform: translateY(-50%);
}

.menuButton .line-3 {
    bottom: 0;
}

/* Rotate the lines to form the 'X' shape when menu is open */
#menu-btn.open .line-1 {
  color: #ff0000
    transform: rotate(45deg) translate(5px, 5px);
}

#menu-btn.open .line-2 {
    opacity: 0;
}

#menu-btn.open .line-3 {
  color: #ff0000
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation */
.nav {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  left: 10px;
  top: 125px;
}

.nav.open {
  display: block;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.dirs li {
  margin-top: 5px;
  float: right;
}

/* Target the dropdown for the GolliCRAFT directory */
#GolliCRAFT .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown when hovering over the GolliCRAFT directory */
#GolliCRAFT:hover .dropdown {
  display: block;
}

#GolliCRAFT:active .dropdown {
  display: block;
}

/* Target the dropdown for the ClientServer directory */
#ClientServer .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown when hovering over the ClientServer directory */
#ClientServer:hover .dropdown {
  display: block;
}

#ClientServer:active .dropdown {
  display: block;
}

/* Target the dropdown for the ToppedCRAFT directory */
#ToppedCRAFT .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Show the dropdown when hovering over the ToppedCRAFT directory */
#ToppedCRAFT:hover .dropdown {
  display: block;
}

#ToppedCRAFT:active .dropdown {
  display: block;
}

/* Update the position of the dropdown links */
.dropdown li {
  position: relative;
  top: 0;
  left: 0;
  float: none;
}

/* Console Container */
.console-container {
  margin-top: 20px;
  text-align: center;
}

#console {
  width: 500px;
  height: 100px;
  resize: none;
  text-align: left;
}

#console-form {
  margin-top: 10px;
}

#console-input {
  padding: 5px;
}

.rounded-btn {
  border-radius: 5px;
  background-color: #191970;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.rounded-btn:hover {
  background-color: #191970;
}

.stop-btn {
  background-color: #191970;
}

.deploy-btn {
  background-color: #191970;
}

.restart-btn {
  background-color: #191970;
}

.delete-btn {
  background-color: #191970;
}

.remaining-btn {
  display: none;
  background-color: #191970;
}

.stopwatch-container {
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  #console {
    width: 50%;
    left: 25px;
    top: 225px;
  }

  .button-container {
    left: 25px;
    top: 150px;
  }

  .buttons {
    float: right;
  }
}
