/* Reset some default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
[data-theme='dark'] {
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Full Screen Mode */
-webkit-full-screen {
  width: 100%;
  height: 100%;
}

-moz-full-screen {
  width: 100%;
  height: 100%;
}

-ms-full-screen {
  width: 100%;
  height: 100%;
}

/* Heading styles */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Container styles */
.components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 800px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Toggle styles */
.switch {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Button Container styles */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

/* List styles */
.button-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-container li {
  margin-bottom: 10px;
}

/* Button styles */
.rounded-btn {
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rounded-btn:hover {
  background-color: #0d8bf2;
}

/* Stop button styles */
.stop-btn {
  background-color: #f44336;
}

/* Restart button styles */
.restart-btn {
  background-color: #4CAF50;
}

/* Start button styles */
#start-btn {
  background-color: green;
  color: white;
}

/* Deploy-Commands button styles */
#deploy-btn {
  background-color: darkgreen;
  color: white;
}

/* Delete-Commands button styles */
#delete-btn {
  background-color: red;
  color: white;
}

/* Console Container styles */
.console-container {
  text-align: center;
  max-width: 600px;
}

/* Console styles */
#console {
  border: none;
  background-color: #f9f9f9;
  resize: none;
  font-size: 14px;
  padding: 10px;
  color: #333;
  cursor: default;
  width: 100%;
}

/* Console Form styles */
#console-form {
  margin-top: 10px;
}

/* Console Input styles */
#console-input {
  width: calc(100% - 80px);
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
}

/* Console Submit Button styles */
#console-submit-btn {
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #2196F3;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#console-submit-btn:hover {
  background-color: #0d8bf2;
}

/* Stopwatch styles */
#stopwatch {
  margin-top: 20px;
  font-size: 18px;
}

.components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
